apiVersion: apps/v1
kind: Deployment
metadata:
  name: ssl-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ssl-test
  template:
    metadata:
      labels:
        app: ssl-test
    spec:
      containers:
      - name: ssl-test
        image: ghcr.io/randallard/oracle-k8s:latest  # This will be updated by the workflow
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: ssl-test
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: ssl-test